In [1]:
import pandas as pd
import db_connections

In [2]:
%%time

dblink='@p6211_exp'

q = f"""
SELECT UG_USUA_CIP AS CIP, UG_DATA_INGRES, UG_DATA_ALTA
FROM PPFTB012{dblink}
WHERE UG_CODI_GRUP = 6764
"""

df = db_connections.ecap2pd(q)

df.head()

CPU times: user 44.5 ms, sys: 12.2 ms, total: 56.6 ms
Wall time: 698 ms

             CIP UG_DATA_INGRES        UG_DATA_ALTA
0  MOAH053010100     2024-03-19 2024-03-19 11:04:58
1  TOGO111121800     2023-08-04 2024-03-19 11:07:03
2  TUNZ046111000     2023-09-19 2024-03-19 11:07:52
3  FEMA000092001     2023-10-27 2024-03-19 11:08:51
4  INVA091111800     2023-10-27 2024-03-19 11:09:21

In [3]:
%%time

q = f"""
SELECT *
FROM PV_PatientList
WHERE YEAR(DisTime) = 2024
"""

df2 = db_connections.ccc2pd(q)

df2.head()

CPU times: user 884 ms, sys: 403 ms, total: 1.29 s
Wall time: 23.5 s

,PatientID,PatientCode,PatientNumber,PatientSSN,PatientSSNCheckStatus,PatientMRN,PatGroupID,PatGroupAbbr,PatGroupName,PatientStatusID,...,DisPatGroupAbbr,DisPatGroupName,DisActorID,HospitalName,ICU_days,AdmissionAgeInCalDays,AdmissionAgeInCalMonths,AdmissionAgeInCalYears,ICUOutcomeCode,ICUDiagnosisCodeID
0,17065,0017914732,10189133,0017914732,1,-,11,Mèdic,Mèdic,8,...,Mèdic,Mèdic,A46995696,Hospital Universitari Joan XXIII,145.229861,22444.0,737.0,61.0,5.0,276264.0
1,17166,0018163505,16330631,0018163505,1,FOBO0590407001,9,Coronari,Coronari,8,...,Coronari,Coronari,Y4965869E,Hospital Universitari Joan XXIII,273.590972,23516.0,772.0,64.0,5.0,273248.0
2,17174,0018166997,21274131,0018166997,1,-,9,Coronari,Coronari,8,...,Coronari,Coronari,Y4965869E,Hospital Universitari Joan XXIII,272.365972,25625.0,841.0,70.0,1.0,273235.0
3,17385,0018302126,19323719,0018302126,1,-,3,Quirùrgic,Quirùrgic,8,...,Quirùrgic,Quirùrgic,H48007711,Hospital Universitari Joan XXIII,107.770138,20396.0,670.0,55.0,1.0,296977.0
4,17511,0018383859,10355284,0018383859,1,-,11,Mèdic,Mèdic,8,...,Mèdic,Mèdic,H48007711,Hospital Universitari Joan XXIII,66.495833,23895.0,785.0,65.0,4.0,274982.0

In [4]:
df2

'DRIVER={FreeTDS};SERVER=10.50.204.16;PORT=5000;DATABASE=Patient;UID=None;PWD=None;TDS_Version=5.5;'

In [3]:
%%time

# Usar las conexiones
conexion1 = db_connections.conectar_sybase_prod()
conexion2 = db_connections.conectar_sybase_dw()

# Ejecutar consultas y cargar los resultados en pandas
def cargar_en_dataframe(cursor):
    # Obtener los nombres de las columnas
    columnas = [col[0] for col in cursor.description]
    
    # Cargar los resultados en un DataFrame
    df = pd.DataFrame.from_records(cursor.fetchall(), columns=columnas)
    return df

# Ejecutar consultas con el servidor 1 y cargar en pandas
cursor1 = conexion1.cursor()
cursor1.execute("SELECT * FROM PV_PatientList WHERE DisTime IS NULL")
df_server1 = cargar_en_dataframe(cursor1)
print(df_server1)

# Ejecutar consultas con el servidor 2 y cargar en pandas
cursor2 = conexion2.cursor()
cursor2.execute("SELECT * FROM PV_PatientList WHERE DisTime IS NULL")
df_server2 = cargar_en_dataframe(cursor2)
print(df_server2)

# Cerrar las conexiones
conexion1.close()
conexion2.close()

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'FreeTDS' : file not found (0) (SQLDriverConnect)")

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in /opt/conda/lib/python3.11/site-packages (5.2.0)

In [5]:
import pyodbc
import pandas as pd

In [8]:
# Configura la cadena de conexión
conn_str = (
    "DRIVER={FreeTDS};"
    "SERVER=10.50.204.15;"  # Cambia a la IP del servidor
    "PORT=5000;"
    "DATABASE=Patient;"  # Si deseas especificar una base de datos
    "UID=informatica;"  # Usuario de Sybase
    "PWD=jx23jx23;"     # Contraseña
    "TDS_Version=5.0;"  # Debe coincidir con la versión en freetds.conf
)

# # Conectar a la base de datos
# conn = pyodbc.connect(conn_str)

# # Ejecutar la consulta
# cursor.execute("SELECT * FROM PV_PatientList WHERE DisTime IS NOT NULL")

# # Obtener los resultados
# rows = cursor.fetchall()

# # Obtener los nombres de las columnas desde el cursor
# columns = [column[0] for column in cursor.description]

# # Crear el DataFrame
# df = pd.DataFrame.from_records(rows, columns=columns)

# # Mostrar el DataFrame
# df.head()

,PatientID,PatientCode,PatientNumber,PatientSSN,PatientSSNCheckStatus,PatientMRN,PatGroupID,PatGroupAbbr,PatGroupName,PatientStatusID,...,DisPatGroupAbbr,DisPatGroupName,DisActorID,HospitalName,ICU_days,AdmissionAgeInCalDays,AdmissionAgeInCalMonths,AdmissionAgeInCalYears,ICUOutcomeCode,ICUDiagnosisCodeID
0,7877,0014268798,10198090,0014268798,1,75200295R,11,Mèdic,Mèdic,6,...,Mèdic,Mèdic,G48017932,Hospital Universitari Joan XXIII,42.497222,25460.0,836.0,69.0,5.0,179843.0
1,7987,0014300688,19541784,0014300688,1,18203017N,11,Mèdic,Mèdic,6,...,Mèdic,Mèdic,X7038550K,Hospital Universitari Joan XXIII,4.584722,19595.0,643.0,53.0,1.0,194584.0
2,8003,0014304208,10321286,0014304208,1,39681855R,11,Mèdic,Mèdic,6,...,Mèdic,Mèdic,X7038550K,Hospital Universitari Joan XXIII,1.834027,19119.0,628.0,52.0,5.0,178420.0
3,8015,0014307357,19546621,0014307357,1,NT03F4L47,11,Mèdic,Mèdic,6,...,Mèdic,Mèdic,H43566365,Hospital Universitari Joan XXIII,1.802777,27429.0,901.0,75.0,5.0,178596.0
4,8031,0014310780,19549416,0014310780,1,-,3,Quirùrgic,Quirùrgic,6,...,Quirùrgic,Quirùrgic,S48012653,Hospital Universitari Joan XXIII,6.479166,5966.0,196.0,16.0,5.0,257545.0

In [9]:
conn_str

'DRIVER={FreeTDS};SERVER=10.50.204.15;PORT=5000;DATABASE=Patient;UID=informatica;PWD=jx23jx23;TDS_Version=5.0;'

In [13]:
import os

In [34]:
def conectar_sybase():
    conn_str = (
        "DRIVER={FreeTDS};"
        "SERVER=10.50.204.15;"  # IP del servidor
        "PORT=5000;"
        "DATABASE=Patient;"  # Asegúrate de que coincida con el nombre correcto
        "UID=informatica;"  # Usuario
        "PWD=jx23jx23;"     # Contraseña
        "TDS_Version=5.0;"  # Versión TDS, asegúrate de que coincida con freetds.conf
    )
    # return conn_str
    return pyodbc.connect(conn_str)

def caca():
    # Conectar al servidor Sybase 1
    conn_str = (
        f"DRIVER={{FreeTDS}};"  # El controlador FreeTDS en ODBC
        f"SERVER=sybase_jx_uci_pr;"  # Entrada del servidor en freetds.conf
        f"PORT=5000;"
        f"DATABASE={os.getenv('SYBASE_DATABASE')};"  # Obtener la base de datos de las variables de entorno
        f"UID={os.getenv('SYBASE_USER')};"  # Obtener el usuario de las variables de entorno
        f"PWD={os.getenv('SYBASE_PASSWORD')};"  # Obtener la contraseña de las variables de entorno
        f"TDS_Version=5.0;"
    )
    return conn_str
    return conexion

In [35]:
pipi = caca()

In [29]:
pet = conectar_sybase()

In [ ]:
pet.close()

In [36]:
pipi

'DRIVER={FreeTDS};SERVER=sybase_jx_uci_pr;PORT=5000;DATABASE=Patient;UID=informatica;PWD=jx23jx23;TDS_Version=5.0;'

In [23]:
conn_str

'DRIVER={FreeTDS};SERVER=10.50.204.15;PORT=5000;DATABASE=Patient;UID=informatica;PWD=jx23jx23;TDS_Version=5.0;'

OperationalError: ('08001', '[08001] [FreeTDS][SQL Server]Unable to connect to data source (0) (SQLDriverConnect)')

In [ ]:
pipi